{% load static %}
<!doctype html>
<html lan="ko">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width", initial-scale="1, shrink-to-fit=no">
<!-- Boostrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<!-- pybo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, pybo!</title>
</head>
<body>
<!-- navigation -->
{% include "navbar.html" %}
<!-- basic things in base template Start -->
{% block content %}
{% endblock %}
<!-- basic things in base template End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.2.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>